.container {
  padding: 0 2rem;

  --primColor: #dcdcdc;
  --secoColor: #555555;
  --cornerRad: 4px;

  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.container input::-webkit-outer-spin-button,
.container input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.menu input::-webkit-calendar-picker-indicator {
  background-color: inherit;
}

.container input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

.main {
  min-height: 100vh;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
}

.card {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  margin: 0.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 12vw;
  height: 40vh;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
}

.card h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: left;
}

.card mark {
  background-color: #ffc107;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

.grid mark {
  background-color: #ffc107;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

.card img {
  object-fit: contain;
  -webkit-user-drag: none;
  transition: filter 300ms ease-in-out;
  filter: grayscale(100%) brightness(50%) contrast(90%) blur(4px);
}

.card:hover img {
  filter: none;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.paginador {
  display: relative;
}

.paginador__info {
  position: absolute;
  bottom: -1%;
  left: 50%;
  transform: translate(-50%, 1%);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  column-gap: 1rem;

  color: #ffc107;
  font-size: 1.5rem;
  font-weight: bold;
}

.btnPaginador {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}

.svgPaginador {
  padding: 5px;
}

.path {
  transition: all 100ms ease-in-out;
}

.btnClickeable {
  cursor: pointer;
}

.btnUnClickeable {
  cursor: default;
}

.arrow {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 90px;
}

.right {
  position: absolute;
  top: 50%;
  right: 3%;
}

.left {
  position: absolute;
  top: 50%;
  left: 3%;
}

.polyline {
  transition: all 100ms ease-in-out;
}

.polyline:hover,
.polyline:focus {
  stroke-width: 3;
}

.polyline:active {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  background-color: #fff;
  padding: 20px;
  top: 2%;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav input[type="checkbox"] {
  cursor: pointer;
}

.nav input:checked~.menu {
  width: 90vw;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li {
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}

.menu li:hover {
  color: #161919;
}

.nav input[type="checkbox"] {
  width: 40px;
  height: 40px;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #666;
  pointer-events: none;
  transition: 0.5s;
}

.nav input:checked~span {
  background-color: #f974a1;
}

.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav input:checked~span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}

.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav input:checked~span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

.menu input,
.btnGroup button {
  border-radius: 1.125rem;
  border: none;
  outline: none;
  font-size: 1rem;
  height: 100%;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.menu input {
  color: black;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.btnGroup button {
  cursor: pointer;
  background: #ffc107;
  padding: 1rem 3rem;
  color: white;
  transition: transform 200ms ease-in-out;
}

.btnGroup button:hover,
.btnGroup button:focus {
  transform: scale(1.05);
}

.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  justify-self: end;
}


.jugador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.jugador__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jugador__header h1 {
  margin-bottom: 0;
}

.jugador__header h2 {
  font-weight: 100;
}

.jugador__header__right {
  position: absolute;
  right: 5%;
  top: 5%;
}

.jugador__header__right:before {
  position: absolute;
  content: "Nivel";
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jugador__header__left {
  position: absolute;
  left: 5%;
  top: 5%;
}

.jugador__header__left:before {
  position: absolute;
  content: "Poder";
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jugador__footer {
  position: absolute;
  bottom: 2%;
  right: 3%;
}

.jugador__footer__right p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.jugador__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jugador__body fieldset {
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 1.125rem;
}

.jugador__body legend {
  border-radius: 1.125rem;
  padding: 0 1rem;
  text-align: left;
  font-weight: 600;
  color: black;
}


@media (max-width: 600px) {
  .grid {
    width: 100vw;
    flex-direction: column;
  }

  .card {
    height: 20vh;
    width: 80vw;
  }

  .nav {
    display: none;
  }
}